<div>
  <div class="flex-1 flex flex-wrap">
    <div class="flex-1 pb-4 w-full">
      <!-- Contenedor de Gráficas -->
      <div class="mt-1 grid grid-cols-3 gap-2">
        <!-- Primer contenedor -->
        <!-- Sección 1 - Gráfica de Usuarios -->
        <div class=" bg-white p-4 shadow rounded-lg w-full col-span-2">
          <h2 class="text-gray-500 text-lg font-semibold pb-1">Ingresos Mensuales</h2>
          <div class="my-1"></div> <!-- Espacio de separación -->
          <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
          <div class="chart-container">
            <div id="chartC">
              <apx-chart [series]="chartOptionsC.series" [chart]="chartOptionsC.chart"
                [dataLabels]="chartOptionsC.dataLabels" [plotOptions]="chartOptionsC.plotOptions"
                [yaxis]="chartOptionsC.yaxis" [xaxis]="chartOptionsC.xaxis" [fill]="chartOptionsC.fill"
                [title]="chartOptionsC.title"></apx-chart>
            </div>
          </div>
        </div>
        <!-- Segundo contenedor -->
        <!-- Sección 2 - Gráfica de Comercios -->
        <div class=" bg-white p-4 shadow rounded-lg w-full col-span-1 ">
          <h2 class="text-gray-500 text-lg font-semibold pb-1">Cantidad de reservas por mes - 2024</h2>
          <div class="my-1"></div> <!-- Espacio de separación -->
          <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
          <div class="chart-container">
            <div id="chartR">
              <apx-chart [series]="chartOptionsR.series" [chart]="chartOptionsR.chart" [labels]="chartOptionsR.labels"
                [responsive]="chartOptionsR.responsive"></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-1 grid grid-cols-3 gap-2">
        <div class=" bg-white p-4 shadow rounded-lg w-full col-span-3">
          <h2 class="text-gray-500 text-lg font-semibold pb-1">Ingresos diarios</h2>
          <div class="my-1"></div> <!-- Espacio de separación -->
          <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
          <div class="chart-container">
            <div id="charta">
              <apx-chart [series]="chartOptionsA.series" [chart]="chartOptionsA.chart" [xaxis]="chartOptionsA.xaxis"
                [stroke]="chartOptionsA.stroke" [dataLabels]="chartOptionsA.dataLabels" [yaxis]="chartOptionsA.yaxis"
                [labels]="chartOptionsA.labels" [legend]="chartOptionsA.legend" [title]="chartOptionsA.title"
                [subtitle]="chartOptionsA.subtitle"></apx-chart>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
